.productDisplay{
    display:  flex;
    margin:  0px 40px;
}
.productdisplay-left{
    display: flex;
    gap: 15px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 586px;
    height: 600px;
    margin-left: 20px;
    
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    columns: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;

}
.productdisplay-right-star p{
    padding-top: 12px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-old-price{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-new-price{
    color: red;
}
.productdisplay-right-size h1{
    margin-top: 7px;
    color: #565656;
    font-size: 20px;
    font-weight: 600;
}
.productdisplay-right-size{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-size div{
    padding: auto;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 6px;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #FF4141;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight: 600;
}